<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banner2.png') );"> %>
<div class="banner">
  <div class="container banner-container">
      <div class="banner-column">
        <div class="banner-inner">
          <h1>Happy Eggs</h1>
          <p>Producción de huevos basada en el bienestar animal, con gallinas libres de jaula, priorizando su sanidad y alimentadas con materias primas de primera calidad, respetando los hábitos naturales de consumo, libertad de movimiento y comportamiento natural de la especie.</p>
          <a class="btn btn-flat" href="#">Shop now</a>
        </div>
      </div>
      <div class="banner-column">
        <div class="banner-img">
          <%= image_tag('banner-imageSF') %>
        </div>
      </div>
  </div>
</div>

<div class="cards">
  <div class="card-category">
    <%= image_tag('tarjeta1') %>
  </div>

  <div class="card-category">
    <%= image_tag('tarjeta') %>
  </div>

  <div class="card-category">
    <%= image_tag('tarjeta3') %>
  </div>
</div>
